---
import '../assets/sass/main.scss';
import Head from '../components/head.astro'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
const { title, description, keywords } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<Head title={title} description={description} keywords={keywords} />
<body>
	<Header />
    <slot />
	<Footer />
</body>
</html>